{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    {% for job in jobs %}
        <h1>{{ job.title }}</h1>
        <p>{{ job.content }}</p>
        <p>Contact: <a href="mailto:{{ job.contact }}">{{ job.contact }}</a></p>
        <hr>
    {% endfor %}
{% endblock %}
